@using Eokulwebapi.Dtos.İlişkisiKesilen

@model UpdateİlişkisiKesilenDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/webb/addsale.css">
    <title>Edit</title>
</head>
<body>
    <div class="form-container">



        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="İlişkisiKesilenId" />

           

            <div class="form-group">
                <label asp-for="ÖğrenciId" class="control-label"></label>
                <input asp-for="ÖğrenciId" class="form-control" />
                <span asp-validation-for="ÖğrenciId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="İlişkisiKesilmeTarihi" class="control-label"></label>
                <input asp-for="İlişkisiKesilmeTarihi" type="datetime-local" class="form-control" />
                <span asp-validation-for="İlişkisiKesilmeTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gerekçe" class="control-label"></label>
                <input asp-for="gerekçe" class="form-control" />
                <span asp-validation-for="gerekçe" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</body>
</html>
