@using Eokulwebapi.Dtos.SınıfDto
@model List<ResultSınıfDto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="~/web/stylee.css">
    <title>GetAll</title>
</head>
<body>
    <div class="container">

    @await Component.InvokeAsync("_sidebar")

    <main>
        <div class="recent-orders">
            <h2></h2>

            <table>
                <thead>
                    <tr>
                            <th>SınıfId</th>
                            <th>SınıfAdı</th>
                            <th>Şubesi</th>
                     

                        <th>Sil</th>
                        <th>Güncelle</th>
                       





                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {


                        <tr>
                            <td>@item.SınıfId</td>
                            <td>@item.SınıfAdı</td>
                            <td>@item.Şubesi</td>






                            <td><a href="/Sınıff/Delete/@item.SınıfId" class="btn btn-dark">Sil</a></td>
                            <td><a href="/Sınıff/Update/@item.SınıfId" class="btn btn-outline-danger">Güncelle</a></td>
                            <td><a href="/Sınıff/GetStudentsByClassId/@item.SınıfId" class="btn btn-outline-danger">Öğrencileri Gör</a></td>


                        </tr>

                    }
                </tbody>
            </table>
            <a href="/Sınıff/Create/" class="btn btn-primary">Yeni Açıklama Ekle</a>

        </div>
        <main>
            </div>
</body>
</html>


