@using Eokulwebapi.Dtos.ÖnKayıtÖğrenciDto
@model List<ResultÖnKayıtÖğrenciDto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="~/web/stylee.css">
    <title>Index</title>
</head>
<body>
    <div class="container">

        @await Component.InvokeAsync("_sidebar")

        <main>
            <div class="recent-orders">
                <h2></h2>

                <table>
                    <thead>
                        <tr>
                            <th>Numarası </th>
                            <th>ÖğrenciAD Soyad</th>
                    
                            <th>NotOrtalamsı</th>
                            

                            <th>Sil</th>
                            <th>Güncelle</th>






                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {


                            <tr>
                                <td>@item.ÖnkayıtId</td>
                                <td>@item.ÖğrenciAD   @item.ÖğrenciSoyad</td>
                               
                     
                                <td>@item.NotOrtalamsı</td>
                              






                                <td><a href="/ÖnKayıtÖğrenci/Delete/@item.ÖnkayıtId" class="btn btn-dark">Sil</a></td>
                                <td><a href="/ÖnKayıtÖğrenci/Edit/@item.ÖnkayıtId" class="btn btn-outline-danger">Güncelle</a></td>


                            </tr>

                        }
                    </tbody>
                </table>
                <a href="/ÖnKayıtÖğrenci/Create/" class="btn btn-primary">Yeni Ön kayıt Ekle</a>
                <a href="/ÖnKayıtÖğrenci/Dönüştür/" class="btn btn-primary">Asıl Kayıt Öğrenci Ekle</a>

            </div>
            <main>
    </div>
</body>
</html>
