
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/webb/addsale.css">
    <title>Index</title>
</head>
<body>
    <h1>Yetkisiz Rol </h1>
    <br />
    <h1> Girişe dönmek için tıklayınız   </h1>
    <a href="/Login/Index" class="btn btn-dark"> Giriş</a>
    <br />
   
</body>
</html>
