@using Eokulwebapi.Dtos.DersProgramıDto
@model UpdateDersProgramıDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/webb/addsale.css">
    <title>Edit</title>
</head>
<body>

    <div class="form-container">

        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="DersProgramıId" />
            <div class="form-group">
                <label asp-for="Gün" class="control-label"></label>
                <input asp-for="Gün" class="form-control" />
                <span asp-validation-for="Gün" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KaçıncıDers" class="control-label"></label>
                <input asp-for="KaçıncıDers" class="form-control" />
                <span asp-validation-for="KaçıncıDers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SınıfId" class="control-label"></label>
                <input asp-for="SınıfId" class="form-control" />
                <span asp-validation-for="SınıfId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DersId" class="control-label"></label>
                <input asp-for="DersId" class="form-control" />
                <span asp-validation-for="DersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</body>
</html>
